<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="icon" type="image/png" href="../static/img/Cartao-icon.png">
    <title>{{ titulo }}</title>
</head>
<body>
<section class="containerexibir">
  <header>{{ titulo }}</header>
</section>
<section class="containerindex">

    <a href="/cadastro"><img class="imagemindex" src='/static/img/Cartao-icon.png'></a>
    <a href="/exibir"><img class="imagemindex" src='/static/img/exibir.png'></a>

</section>


</body>
</html>